<% flash.each do |key, value| %>
  <div class="text-center <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1> Create Article </h1> 

<%= form_with model: @article, local: true do |form| %>
  <%= form.label :title %><br/>
  <%= form.text_field :title %><br>
  <%= form.label :content %><br/>
  <%= form.text_area :content %><br>
  <%= form.submit 'Create Article' %>
<% end %>