<h1> Create Article </h1>

<%= form_with model: @article, url: article_url local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
    </p>

    <p>
        <%= form.submit 'Create Article' %>
    </p>
<% end %>