<% flash.each do |key, value| %>
  <div class="text-center <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1><%= @article.title %></h1><br/>
<p><%= @article.content %></p>

<%= link_to 'Edit this Article', edit_article_path(@article) %>